<div class="container">
	<!-- サイドバー -->
	<div class="col-lg-3 sidebar clearfix">
	<%= render 'users/user', user: @user %>
	<%= render 'users/archive', archives: @archives, post: @post %>
	</div>
	<!-- ここまで -->
	<div class="col-lg-8 col-lg-offset-1">
		<div class="row" >
			<% @favorites.each do |favorite| %>
				<div style="border: 1px solid black;margin: 5px;float: left;">
					<div class="row" style="margin: 5px 0 5px 0px;">
						<div class="row" style="margin: 5px;">
							<%= link_to post_path(favorite.post) do %>
								<% favorite.post.post_images.each do |post_image| %>
									<%= attachment_image_tag post_image, :post_image, size: "230x160", format: 'jpeg' %>
								<% end %>
							<% end %>
						</div>
						<div class="row" style="padding: 10px 0 5px 5px;">
							<div class="col-xs-4"><%= favorite.post.prefecure %></div>
							<!-- いいね -->
							<div class="col-xs-4 col-xs-offset-4">
								<% if favorite.post.favorited_by?(current_user) %>
				                    <%= link_to post_favorites_path(favorite.post), method: :delete do %>
				                      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
				                      <%= favorite.post.favorites.count %>
				                    <% end %>
				                <% else %>
				                    <%= link_to post_favorites_path(favorite.post), method: :post do %>
				                      <i class="far fa-heart" aria-hidden="true"></i>
				                      <%= @post.favorites.count %>
				                    <% end %>
				                <% end %>
				                <!-- コメント -->
								<%= link_to post_path(favorite.post) do %>
									<i class="fas fa-comment-alt"></i>
									<%= favorite.post.comments.count %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>