<div class="container-fluid">
	<!-- サイドバー -->
	<div class="col-lg-3 sidebar">
			<div class="user_flash">
		  		<% if flash[:notice] %>
		  			<p><i class="far fa-check-square"></i><%= flash[:notice] %></p>
		  		<% end %>
		  	</div>
		<%= render 'users/user', user: @user %>
		<div class="row sidebar__conquer">
				<div class="col-xs-5 sidebar__conquer--head">制覇数</div>
				<div class="col-xs-5 sidebar__conquer--body">
					<%= link_to conquer_path(@user) do %>
						<%= @hokkaido + @aomori + @iwate + @miyagi + @akita + @yamagata + @fukusima + @ibaraki + @tochigi + @gunma + @saitama + @chiba + @tokyou + @kanagawa + @niigata + @toyama + @isikawa + @fukui + @yamanasi + @nagano + @gifu + @sizuoka + @aichi + @mie + @siga + @kyoto + @ousaka + @hyogo + @nara + @wakayama + @tottori + @simane + @okayama + @hirosima + @yamaguchi + @tokusima + @kagawa + @ehime + @kochi + @fukuoka + @saga + @nagasaki + @kumamoto + @ooita + @miyazaki + @kagosima + @okinawa %></div>
					<% end %>
				<div class="col-xs-2 sidebar__conquer--foot">/47</div>
			</div>
		<%= render 'users/archive', user: @user, archives: @archives %>
	</div>
	<!-- ここまで -->
	<div class="col-lg-8 col-lg-offset-1 users-show"style="width: 760px;height:700px;">
		<!-- スライド -->
		<div class="row">
			<div class="skippr" style="height: 400px;">
			  <% @slider.each do |post| %>
			  	<div style="width: 740;height: 400px;">
			  		<%= link_to post_path(post) do %>
						<% if post.post_images.count == 1  %>
							<% post.post_images.each do |post_image| %>
								<%= attachment_image_tag post_image, :post_image, size: "740x400", format: 'jpeg',style: "object-fit: contain;border: 1px solid #dcdcdc;margin-top: 5px;background-color: #ffffff;" %>
							<% end %>
						<% elsif post.post_images.count == 2 %>
							<% post.post_images.each do |post_image| %>
								<%= attachment_image_tag post_image, :post_image, size: "370x400", format: 'jpeg',style: "object-fit: contain;margin: 0px 0 33px 0;border: 1px solid #dcdcdc;background-color: #ffffff;" %>
							<% end %>
						<% elsif post.post_images.count == 3 %>
							<% post.post_images.each do |post_image| %>
								<%= attachment_image_tag post_image, :post_image, size: "370x200", format: 'jpeg',style: "object-fit: contain;margin-top: 5px;border: 1px solid #dcdcdc;background-color: #ffffff;" %>
							<% end %>
						<% else  %>
							<% post.post_images.each do |post_image| %>
								<%= attachment_image_tag post_image, :post_image, size: "370x200", format: 'jpeg',style: "object-fit: contain;margin-top: 5px;border: 1px solid #dcdcdc;background-color: #ffffff;" %>
							<% end %>
						<% end %>
					<% end %>
			  	</div>
			  <% end %>
			</div>
		</div>
		<!-- 投稿一覧 -->
		<div class="row">
			<% @posts.each do |post| %>
			<div class="users-show__posts">
				<div class="row users-show__posts__infomation">
					<%= attachment_image_tag @user, :user_image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg",size:'40x40', style: "border-radius: 50%;" %>
					<p><%= post.prefecure %></p>
					<!-- いいね -->
					<div class="users-show__posts__infomation__favorite">
						<div id="favorites_buttons_<%= post.id %>"style="float: left;margin-right: 10px;">
							<%= render 'favorites/favorite', post: post %>
						</div>
						<!-- ここまで -->
						<!-- コメント -->
						<%= link_to post_path(post) do %>
							<i class="fas fa-comment-alt"></i>
							<%= post.comments.count %>
						<% end %>
					</div>
					<!-- ここまで -->
				</div>
				<div class="row users-show__posts__post">
					<%= link_to post_path(post) do %>
						<% if post.post_images.count == 1  %>
							<% post.post_images.each do |post_image| %>
								<%= attachment_image_tag post_image, :post_image, size: "220x148", format: 'jpeg',style: "object-fit: contain;border: 1px solid #dcdcdc;margin-top: 5px;" %>
							<% end %>
						<% elsif post.post_images.count == 2 %>
							<% post.post_images.each do |post_image| %>
								<%= attachment_image_tag post_image, :post_image, size: "108x70", format: 'jpeg',style: "object-fit: contain;margin: 50px 0 33px 0;border: 1px solid #dcdcdc;" %>
							<% end %>
						<% elsif post.post_images.count == 3 %>
							<% post.post_images.each do |post_image| %>
								<%= attachment_image_tag post_image, :post_image, size: "108x70", format: 'jpeg',style: "object-fit: contain;margin-top: 5px;border: 1px solid #dcdcdc;" %>
							<% end %>
						<% else  %>
							<% post.post_images.each do |post_image| %>
								<%= attachment_image_tag post_image, :post_image, size: "108x70", format: 'jpeg',style: "object-fit: contain;margin-top: 5px;border: 1px solid #dcdcdc;" %>
							<% end %>
						<% end %>
					<% end %>
				</div>
				<!-- 編集、削除 -->
				<% if @user.id == current_user.id %>
					<div class="text-right users-show__posts__edit">
						<%= link_to edit_post_path(post) do %>
						  <i class="fas fa-cog"></i>
						<% end %>
						<%= link_to post_path(post),method: :delete, "data-confirm" => "本当に削除しますか？" do %>
						  <i class="fas fa-trash-alt"></i>
						<% end %>
					</div>
				<% else %>
					<div class="row text-right users-show__posts__else"></div>
				<% end %>
				<!-- 内容 -->
				<div class="rowtext-right users-show__posts__body">
					<%= post.body.truncate(35) %>
				</div>
			</div>
			<% end %>
		</div>
	<div>
</div>
