<div class="container">
	<!-- サイドバー -->
	<div class="col-lg-3 sidebar clearfix">
	<%= render 'users/user', user: @user %>
	<div class="row sidebar__conquer"style="margin: 50px 0;">
			<div class="col-xs-5 sidebar__conquer--head">制覇数</div>
			<div class="col-xs-5 sidebar__conquer--body">
				<%= link_to conquer_path(@user) do %>
					<%= @hokkaido + @aomori + @iwate + @miyagi + @akita + @yamagata + @fukusima + @ibaraki + @tochigi + @gunma + @saitama + @chiba + @tokyou + @kanagawa + @niigata + @toyama + @isikawa + @fukui + @yamanasi + @nagano + @gifu + @sizuoka + @aichi + @mie + @siga + @kyoto + @ousaka + @hyogo + @nara + @wakayama + @tottori + @simane + @okayama + @hirosima + @yamaguchi + @tokusima + @kagawa + @ehime + @kochi + @fukuoka + @saga + @nagasaki + @kumamoto + @ooita + @miyazaki + @kagosima + @okinawa %></div>
				<% end %>
			<div class="col-xs-2 sidebar__conquer--foot">/47</div>
		</div>
	<%= render 'users/archive', archives: @archives, post: @post %>
	</div>
	<!-- ここまで -->
	<div class="col-lg-8 col-lg-offset-1">
		<!-- スライド -->
		<div class="row">
			<div id="container">
			  <div id="theTarget">
			    <img src="<%= @user.post_ids %>">
			    <img src="<%= @user.post_ids %>">
			    <img src="<%= @user.post_ids %>">
			  </div>
			</div>
		</div>
		<!-- 投稿一覧 -->
		<div class="row">
			<% @posts.each do |post| %>
			<div style="width: 350px;border: 1px solid black;margin: 20px 30px 10px 0;float: left">
				<div class="row" style="margin: 15px 0 15px 30px;">
					<%= attachment_image_tag @user, :user_image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg",size:'40x40', style: "border-radius: 50%;" %>
					<p style="padding: 10px 0 0 80px;"><%= post.prefecure %></p>
					<!-- いいね -->
					<% if post.favorited_by?(current_user) %>
	                    <%= link_to post_favorites_path(post), method: :delete do %>
	                      <i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
	                      <%= post.favorites.count %>
	                    <% end %>
	                <% else %>
	                    <%= link_to post_favorites_path(post), method: :post do %>
	                      <i class="far fa-heart" aria-hidden="true"></i>
	                      <%= post.favorites.count %>
	                    <% end %>
	                <% end %>
					<!-- ここまで -->
					<!-- コメント -->
					<%= link_to post_path(post) do %>
						<i class="fas fa-comment-alt"></i>
						<%= post.comments.count %>
					<% end %>
					<!-- ここまで -->
				</div>
				<div class="row" style="margin-left: 30px;">
					<%= link_to post_path(post) do %>
					<% post.post_images.each do |post_image| %>
						<%= attachment_image_tag post_image, :post_image, size: "290x200", format: 'jpeg' %>
					<% end %>
					<% end %>
				</div>
				<!-- 編集、削除 -->
				<div class="text-right">
					<%= link_to edit_post_path(post) do %>
					  <i class="fas fa-cog"></i>
					<% end %>
					<%= link_to post_path(post),method: :delete do %>
					  <i class="fas fa-trash-alt" style="margin: 10px 30px 10px 10px;"></i>
					<% end %>
				</div>
				<!-- 内容 -->
				<div class="row" style="margin: 15px 0 15px 30px;">
					<%= post.body %>
				</div>
			</div>
			<% end %>
		</div>
	<div>
</div>
<script type="application/json" id="image-data">
<%= @some_array.to_json.html_safe %>
</script>