<div class="container-fluid"style="height: 750px;">
  <div class="col-lg-7 col-lg-offset-2">
    <h2>ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row" style="margin-top: 50px;">
        <div class="col-xs-2">E-mail</div>
        <div class="col-xs-8" style=""><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-xs-2">
          <p>Password</p>
        </div>
        <div class="col-xs-8">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>
      <div class="row" style="text-align: right; margin: 10px 270px 20px 0;">
      <%= link_to "=>パスワードを忘れた方はこちら", new_user_password_path %>
    </div>

    <div class="row" style="margin: 30px 0 50px 270px; width: 260px; border-radius: 10px;">
        <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
    </div>

    <% end %>

  <div class="row" style="padding-left: 350px;">
      新規登録は
      <%= link_to "こちら", new_user_registration_path %>
  </div>
</div>
