<div class="container-fluid login"style="height: 750px;">
  <div class="col-lg-7 col-lg-offset-2 login-main">
    <h2>ログイン</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="row" style="margin-top: 50px;">
        <div class="col-xs-2 mail">E-mail</div>
        <div class="col-xs-8 mail-field"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %></div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-xs-2 pass">
          <p>Password</p>
        </div>
        <div class="col-xs-8 pass-field">
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>
      <div class="row new-pass" style="">
      <%= link_to "=>パスワードを忘れた方はこちら", new_user_password_path %>
    </div>

    <div class="row login-btn" style="width: 260px; border-radius: 10px;">
        <%= f.submit "ログイン", class: "btn btn-primary btn-block" %>
    </div>

    <% end %>

    <div class="row new-user">
        新規登録は
        <%= link_to "こちら", new_user_registration_path %>
    </div>
  </div>
</div>
