<div class="container-fluid">
	<div class="row"style="margin: 20px 0 0 50px;">'<%= word %>'の検索結果</div>
	<div class="row" style="margin-left: 200px;width: 1100px;height:700px;overflow:auto;">
			<% @posts.each do |post| %>
			<div class="posts" style="width: 240px;height: 260px;">
				<div class="row" style="margin: 10px 0 15px 10px;">
					<%= attachment_image_tag post.user, :user_image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg",size:'40x40', style: "border-radius: 50%;" %>
					<p style="padding: 10px 0 0 40px;float: left;"><%= post.prefecure %></p>
					<!-- いいね -->
					<div style="margin: 10px 10px 0 0;float: right;">
						<div id="favorites_buttons_<%= post.id %>"style="float: left;margin-right: 10px;">
							<%= render 'favorites/favorite', post: post %>
						</div>
						<!-- ここまで -->
						<!-- コメント -->
						<%= link_to post_path(post) do %>
							<i class="fas fa-comment-alt"></i>
							<%= post.comments.count %>
						<% end %>
					</div>
					<!-- ここまで -->
				</div>
				<div class="row" style="margin-left: 10px;">
					<%= link_to post_path(post) do %>
						<% if post.post_images.count == 1  %>
							<% post.post_images.each do |post_image| %>
								<%= attachment_image_tag post_image, :post_image, size: "220x148", format: 'jpeg',style: "object-fit: contain;border: 1px solid #dcdcdc;margin-top: 5px;" %>
							<% end %>
						<% elsif post.post_images.count == 2 %>
							<% post.post_images.each do |post_image| %>
								<%= attachment_image_tag post_image, :post_image, size: "108x70", format: 'jpeg',style: "object-fit: contain;margin: 50px 0 33px 0;border: 1px solid #dcdcdc;" %>
							<% end %>
						<% elsif post.post_images.count == 3 %>
							<% post.post_images.each do |post_image| %>
								<%= attachment_image_tag post_image, :post_image, size: "108x70", format: 'jpeg',style: "object-fit: contain;margin-top: 5px;border: 1px solid #dcdcdc;" %>
							<% end %>
						<% else  %>
							<% post.post_images.each do |post_image| %>
								<%= attachment_image_tag post_image, :post_image, size: "108x70", format: 'jpeg',style: "object-fit: contain;margin-top: 5px;border: 1px solid #dcdcdc;" %>
							<% end %>
						<% end %>
					<% end %>
				</div>
				<!-- 内容 -->
				<div class="row" style="margin: 10px 0 15px 20px;">
					<%= post.body.truncate(35) %>
				</div>
			</div>
			<% end %>
		</div>
</div>