<div class="container">
	<div class="row">地図から検索</div>
	<div id="map-container"></div>
	<div class="row"></div>
	<div class="row">カテゴリーから検索</div>
	<div class="row">
		<%= form_with url: searched_path, method: :get, local: true do |f| %>
			<%= f.hidden_field :id, :value => 1 %>
			<%= f.submit Post.categories.key(1),style: "float: left;" %>
		<% end %>
		<%= form_with url: searched_path, method: :get, local: true do |f| %>
			<%= f.hidden_field :id, :value => 2 %>
			<%= f.submit Post.categories.key(2),style: "float: left;" %>
		<% end %>
		<%= form_with url: searched_path, method: :get, local: true do |f| %>
			<%= f.hidden_field :id, :value => 3 %>
			<%= f.submit Post.categories.key(3),style: "float: left;" %>
		<% end %>
		<%= form_with url: searched_path, method: :get, local: true do |f| %>
			<%= f.hidden_field :id, :value => 4 %>
			<%= f.submit Post.categories.key(4),style: "float: left;" %>
		<% end %>
		<%= form_with url: searched_path, method: :get, local: true do |f| %>
			<%= f.hidden_field :id, :value => 5 %>
			<%= f.submit Post.categories.key(5),style: "float: left;" %>
		<% end %>
	</div>
	<div class="row">ワードから検索</div>
		<%= form_with url: searched_path, method: :get, local: true do |f| %>
		<%= f.text_field :word %>
		<%= button_tag :type => "submit" do %>
            <i class="fa fa-search"></i>
          <% end %>
		<% end %>
	<div class="row"></div>
</div>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<%= javascript_include_tag 'jquery.japan-map.min.js' %>
  <script>
  $(function(){
    $("#map-container").japanMap({
        width:600,
        onSelect : function(data){
            alert(data.name);
        }
      });
  });
  </script>