<div class="container">
    <h2>投稿編集</h2>
    <div class="row">
    	<%= form_with model:@post, local: true do |f| %>
    	<div class="col-lg-6">
    		<div class="item-image" style="margin-bottom: 30px;">
                <% @post.post_images.each do |post_image| %>
                    <%= attachment_image_tag @post_image, :post_image, fallback: "noimage.png", size:"400x300" %>
                <% end %>
            </div>
            <%= f.attachment_field :post_images_post_images, multiple: true %>
    	</div>
    	<div class="col-lg-6">
    		<div class="row" style="margin-top: 50px;">
    			<div class="col-xs-3">都道府県<br>(撮影場所)</div>
    			<div class="col-xs-9">
                	<%= f.select :prefecure, Post.prefecures.keys, {}, {class: 'hoge'} %>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
            	<div class="col-xs-3">カテゴリー</div>
            	<div class="col-xs-9">
               		<%= f.select :category, Post.categories.keys, {}, {class: 'fuga'} %>
               	</div>
            </div>
            <div class="row" style="margin-top: 20px;">
            	<%= f.text_area :body,size: "40x7" %>
            </div>
            <div class="row" style="margin-top: 20px;">
            	<%= f.submit "投稿" %>
            </div>
    	</div>
    	<% end %>
    </div>
</div>