<div class="container-fluid">
	<!-- サイドバー -->
	<div class="col-lg-3 sidebar">
	<%= render 'users/user', user: @user %>
	<h2 class="text-center">ランキング</h2>
		<%= render 'posts/ranking', recommendeds: @recommendeds %>
	</div>
	<!-- ここまで -->
	<div class="col-lg-8 col-lg-offset-1"style="width: 760px;height:700px;overflow:auto;">
		<div class="row">
			<% @posts.each do |post| %>
			<div class="posts" style="width: 240px;height: 290px;">
				<div class="row" style="margin: 10px 0 15px 10px;">
					<%= link_to user_path(post.user) do %>
						<%= attachment_image_tag post.user, :user_image, :fill, 60, 60, format: 'jpeg', class: "pull-left profile-img", fallback: "no_image.jpg",size:'40x40', style: "border-radius: 50%;" %>
					<% end %>
					<p style="padding: 10px 0 0 40px;float: left"><%= post.prefecure %></p>
					<!-- いいね -->
					<div style="margin: 10px 0 0 40px;float: left">
						<% if post.favorited_by?(current_user) %>
		                    <%= link_to post_favorites_path(post), method: :delete do %>
		                      <i class="fas fa-star" aria-hidden="true" style="color: #FFCC00;"></i>
		                      <%= post.favorites.count %>
		                    <% end %>
		                <% else %>
		                    <%= link_to post_favorites_path(post), method: :post do %>
		                      <i class="far fa-star" aria-hidden="true"></i>
		                      <%= post.favorites.count %>
		                    <% end %>
		                <% end %>
						<!-- ここまで -->
						<!-- コメント -->
						<%= link_to post_path(post) do %>
							<i class="fas fa-comment-alt"></i>
							<%= post.comments.count %>
						<% end %>
					</div>
					<!-- ここまで -->
				</div>
				<div class="row" style="margin-left: 10px;">
					<%= link_to post_path(post) do %>
						<% if post.post_images.count == 1  %>
							<% post.post_images.each do |post_image| %>
								<%= attachment_image_tag post_image, :post_image, size: "220x148", format: 'jpeg',style: "object-fit: contain;border: 1px solid #dcdcdc;margin-top: 5px;" %>
							<% end %>
						<% elsif post.post_images.count == 2 %>
							<% post.post_images.each do |post_image| %>
								<%= attachment_image_tag post_image, :post_image, size: "108x70", format: 'jpeg',style: "object-fit: contain;margin: 50px 0 33px 0;border: 1px solid #dcdcdc;" %>
							<% end %>
						<% elsif post.post_images.count == 3 %>
							<% post.post_images.each do |post_image| %>
								<%= attachment_image_tag post_image, :post_image, size: "108x70", format: 'jpeg',style: "object-fit: contain;margin-top: 5px;border: 1px solid #dcdcdc;" %>
							<% end %>
						<% else  %>
							<% post.post_images.each do |post_image| %>
								<%= attachment_image_tag post_image, :post_image, size: "108x70", format: 'jpeg',style: "object-fit: contain;margin-top: 5px;border: 1px solid #dcdcdc;" %>
							<% end %>
						<% end %>
					<% end %>
				</div>
				<div class="row" style="margin: 20px 0 15px 20px;">
					<%= post.body.truncate(35) %>
				</div>
			</div>
			<% end %>
		</div>
	<div>
</div>