<div class="container-fluid">
    <div class='row'>
      <% if @post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@post.errors.count, "error") %> errors prohibited this obj from being saved:</h2>

          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="col-lg-10 col-lg-offset-2 posts-new">
    	<%= form_with model:@post, local: true do |f| %>
    	<div class="col-lg-6 posts-new__image">
            <%= f.attachment_field :post_images_post_images, multiple: true %>
    	</div>
    	<div class="col-lg-6 posts-new__details">
    		<div class="row posts-new__details__prefectures">
    			<div class="col-xs-3">都道府県<br>(撮影場所)</div>
    			<div class="col-xs-9">
                	<%= f.select :prefecure, Post.prefecures.keys, {}, {class: 'hoge'} %>
                </div>
            </div>
            <div class="row posts-new__details__categorise">
            	<div class="col-xs-3">カテゴリー</div>
            	<div class="col-xs-9">
               		<%= f.select :category, Post.categories.keys, {}, {class: 'fuga'} %>
               	</div>
            </div>
            <div class="row posts-new__details__body">
            	<%= f.text_area :body ,size: "40x7" %>
            </div>
            <div class="row posts-new__details__submit">
            	<%= f.submit "投稿" %>
            </div>
    	</div>
    	<% end %>
    </div>
</div>