<div class="container">
    <div id="image-box-1">
      <div class="item-num-0" id="image-box__container"></div>
    </div>
	<%= form_with model:@post, local: true do |f| %>
	<div class="col-lg-5 col-lg-offset-2">
		<div class="row item-image" style="width: 500px;height: 450px;margin: 10px 10px 10px 0;float: left;">
                <% if @post.post_images.count == 1  %>
                    <% @post.post_images.each do |post_image| %>
                        <%= attachment_image_tag post_image, :post_image, size: "480x400", format: 'jpeg',style: "object-fit: contain;border: 1px solid #dcdcdc;margin-top: 5px;" %>
                    <% end %>
                <% elsif @post.post_images.count == 2 %>
                    <% @post.post_images.each do |post_image| %>
                        <%= attachment_image_tag post_image, :post_image, size: "245x380", format: 'jpeg',style: "object-fit: contain;margin: 50px 0 33px 0;border: 1px solid #dcdcdc;" %>
                    <% end %>
                <% elsif @post.post_images.count == 3 %>
                    <% @post.post_images.each do |post_image| %>
                        <%= attachment_image_tag post_image, :post_image, size: "245x220", format: 'jpeg',style: "object-fit: contain;margin-top: 5px;border: 1px solid #dcdcdc;" %>
                    <% end %>
                <% else  %>
                    <% @post.post_images.each do |post_image| %>
                        <%= attachment_image_tag post_image, :post_image, size: "245x220", format: 'jpeg',style: "object-fit: contain;margin-top: 5px;border: 1px solid #dcdcdc;" %>
                    <% end %>
                <% end %>
            </div>
        <%= f.attachment_field :post_images_post_images, multiple: true %>
	</div>
	<div class="col-lg-5" style="margin-top: 50px;">
		<div class="row">
			<div class="col-xs-3">都道府県<br>(撮影場所)</div>
			<div class="col-xs-9">
            	<%= f.select :prefecure, Post.prefecures.keys, {}, {class: 'hoge'} %>
            </div>
        </div>
        <div class="row" style="margin-top: 30px;">
        	<div class="col-xs-3">カテゴリー</div>
        	<div class="col-xs-9">
           		<%= f.select :category, Post.categories.keys, {}, {class: 'fuga'} %>
           	</div>
        </div>
        <div class="row" style="margin-top: 30px;">
        	<%= f.text_area :body ,size: "40x7" %>
        </div>
        <div class="row">
        	<%= f.submit "投稿" %>
        </div>
	</div>
	<% end %>
</div>