<!DOCTYPE html>
<html>
  <head>
    <title>どこイキ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless current_page?(root_path) %>
      <div class="header" id="header">
        <nav class="navbar navbar-main navbar-default" role="navigation" id="slide-nav" style="background-color: ##998e73; border-bottom-color: #c4edb2; border-radius: 0px;height: 30px;margin: 0;">
          <div class="container relative">
            <div class="navbar-header" style="color: white;">
              <div class="head-title">どこイキ</div>
            </div>
            <div id="slidemenu">
              <div class="list">
                <ul class="nav navbar-nav navbar-right" data-hover="color" data-animations="zoomIn fadeIn fadeInUp fadeIn">
                  <% if user_signed_in? %>
                    <li class=>
                      <%= link_to search_path do %>
                       <i class="fas fa-search"></i>
                      <% end %>
                    </li>
                    <li class=>
                      <%= link_to posts_path do %>
                       <i class="fas fa-list"></i></i>
                      <% end %>
                    </li>
                    <li class=>
                      <%= link_to user_path(current_user.id) do %>
                       <i class="glyphicon glyphicon-home" aria-hidden="true"></i>
                      <% end %>
                    </li>

                    <li class="">
                      <%= link_to new_post_path do %>
                      <i class="fas fa-plus-square"></i>
                      <% end %>
                    </li>
                    <li class="">
                      <%= link_to destroy_user_session_path, method: :delete do %>
                        <i class="glyphicon glyphicon-log-out" aria-hidden="true"></i>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    <% end %>
      <%= yield %>
  </body>
</html>

